
.first {
  overflow: hidden;
  height: 100%;
  width: 15%;
  background-color: #ffa6a6;
  cursor: pointer  !important;

  .first_menu {
    font-weight: 500;
    
    margin-top: 1rem;
  }
}
.micons {
  margin-top: 1rem;
}

span{
  padding-right:.2rem;

  padding-left: 1.2rem;
}