/* topbar.scss */
* {
    padding: 0;
    margin: 0;
    font-family: 'poppins';
    
  }
  
  .topbar {
    display: flex;
        // background-color: lightgray;
    padding:  10px; 
    // border-radius: 10px;
    
  }
  
  .logo {
    display: flex;
    align-items: center;
    // color: rgb(255, 0, 0);
    font-size: 1.5rem;
    margin-left: 1rem;
    cursor:pointer  !important;
  }
  
 
  
  .type {
    align-items: center;
    display: flex;
    width: 250px;
  }
  .type input {
    width: 25rem;
    padding: 8px;
    border: 1px solid lightgray;
    border-radius: 20px;
    background-color: lightcoral;
  }
  

  
  .search_area {
  width: 25rem;

  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}

 
.social{
  display: flex;
    align-items: center;
}
.seaarch{
  display: flex;
  align-items: center;
}
